<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.drugstoreskincare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DrugStoreSKinCare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="andriod:label"
        android:theme="@style/Theme.Drugstoreskincare">
        <activity
            android:name=".CategoryPage.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".singleProductPage.SingleProductActivity"
            android:exported="false"/>
        <activity
            android:name=".splashScreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userAccount.UserAccountActivity"
            android:exported="false"/>
        <activity
            android:name=".Home.MainActivity"
            android:exported="true"/>
    </application>

</manifest>